.nav-wrapper {
  background-color: #546e7a;
}

.brand-logo {
  margin-left: 1%;
}

#textbox {
  position: relative;
}

.container {
  margin-top: 5%;
}


/*#eceff1 blue-grey lighten-5
#cfd8dc blue-grey lighten-4  - text background
#b0bec5 blue-grey lighten-3
#90a4ae blue-grey lighten-2
#78909c blue-grey lighten-1
#607d8b blue-grey
#546e7a blue-grey darken-1 -- navbar
#455a64 blue-grey darken-2
#37474f blue-grey darken-3
#263238 blue-grey darken-4*/

/* label color */
 .input-field label {
   color: #546e7a;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #546e7a;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #546e7a;
   box-shadow: 0 1px 0 0 #546e7a;
 }

 .btn {
   background-color: #546e7a;
 }
